@import "reset-css/reset.css";

body {
    color: var(--semi-color-text-0);
    background-color: var(--semi-color-bg-0);
}

::-webkit-scrollbar {
    /*width: 6px;*/
    display: none;
}
/*::-webkit-scrollbar-track {*/
/*    border-radius: 3px;*/
/*    background: rgba(0,0,0,0.06);*/
/*    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.08);*/
/*}*/
/*::-webkit-scrollbar-thumb {*/
/*    border-radius: 3px;*/
/*    background: rgba(0,0,0,0.12);*/
/*    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.2);*/
/*}*/
